:root {
  --primary-color: #0e1128;
  --secondary-color: #3a0a2e;
  --rectangular-right: #506899;
  --rectangular-left: #7f1464;
  --light-text: #F0E1DC;
  --heavy-text: #d9c089;
  --heading-title-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden !important;
}

.welcomeSection {
  height: 90vh;
  background: linear-gradient(180deg, var(--primary-color) 75%, var(--secondary-color));
  color: var(--light-text);
  padding: 3rem;
}

.home {
  margin-top: 20vh;
}

.titleHome {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 10vh;
  font-family: var(--heading-title-family);
}

.surname {
  border-top: 3px solid var(--rectangular-right);
  border-right: 3px solid var(--rectangular-right);
  padding-right: 1rem;
  padding-left: 20px;
  transition: all 0.65s ease;
  margin-left: 0.8vw;
  display: inline-block;
}

.surname:hover {
  color: var(--rectangular-right);
  font-size: 7rem;
  cursor: none;
  display: inline;
}

.name {
  border-top: 3px solid var(--rectangular-left);
  border-left: 3px solid var(--rectangular-left);
  padding-left: 1rem;
  transition: all 0.3s ease;
  margin-left: 5vw;
  display: inline-block;
  z-index: 5;
}

.name:hover {
  color: var(--rectangular-left);
  cursor: none;
  display: inline;
}

.subtitleHome {
  display: block;
  position: relative;
  top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Consolas, 'Courier New', monospace;
  text-align: center;
  left: 30px;
  transition: all 0.5s ease;

}

.subtitleHome:hover {
  color: rgb(158, 156, 156);
  font-style: italic;
  cursor: none;
}

.circleCursor {
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  left: -25px;
  top: -25px;
  width: 5vw;
  height: 5vw;
  z-index: 1;

}

.whitePlant {
  position: absolute;
  left: -35vw;
  top: -20vh;
  height: 150vh;
  pointer-events: none;

}

.rosePlant {
  position: absolute;
  right: -33vw;
  top: -12vh;
  transform: rotateY(180deg);
  height: 142vh;
  pointer-events: none
}