.aboutBox {
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: radial-gradient(circle, rgba(133, 0, 64, 0.307), rgba(255, 255, 255, 0.9));
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    box-shadow: rgba(255, 255, 255, 0.33) 0px 48px 100px 0px;

}

.titleAboutCard {
    letter-spacing: 0.1rem;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5%;
    margin-top: 3%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.textAboutCard {
    background-color: rgba(255, 243, 252, 0.55);
    border-radius: 1rem;
    color: #343a40;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.4;
}


.ParagAboutCard {
    padding: 1rem;
    font-weight: 500;
}

.fotoDavid {
    height: auto;
    width: 14vw;
    margin-left: 25%;
    border-radius: 20px;
    margin-bottom: 2%;
    margin-top: 1%;
    box-shadow: 5px -2px 8px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 960px) and (max-width: 1280px) {
    .aboutBox {
        top: 14%;
        margin: 0 2rem;
    }

    .fotoDavid {
        height: auto;
        width: 80%;
        margin-bottom: 10%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
    .aboutBox {
        position: static;
        margin-bottom: 6.5rem;
    }

    .fotoDavid {
        height: auto;
        width: 52%;
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .fotoDavid {
        height: auto !important;
        width: 72%;
        margin-bottom: 10%;
        margin-left: 15%;
    }

    .aboutBox {
        margin: 0 -2rem 5rem -2rem !important;
    }
}

@media screen and (max-width: 400px) {
    .fotoDavid {
        height: auto !important;
        width: 61%;
        margin-bottom: 5%;
        margin-left: 17%;
    }

    .aboutBox {
        margin: 0 -2rem 5rem -2rem !important;
    }

}

@media screen and (max-width: 600px) {
    .aboutBox {
        position: static;
        margin: 0 -2rem;
        margin-bottom: 6.5rem;
    }

    .textAboutCard {
        font-size: 1rem;
    }
}