.list-projects {
    margin-top: 2rem;
    width:99%;
    margin-bottom: 5rem;

}

.project-card {
    padding: 1.5rem;
    border-radius: 20px;
    background-color: #163575;
    border: 0.2rem solid white; 
    

}

.img-zoom {
    height: 90%;
    overflow: hidden;
    border-radius: 20px;
    border: 0.1rem solid white;
    cursor: pointer;
    margin-bottom: 1rem;
    object-fit: contain;
}

.image {
    height: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;

}.image:hover{
    transform: scale(1.5);
}.titleImage{
    color:#F0E1DC;
}