:root {
    --primary-color: #0e1128;
    --secondary-color: #3a0a2e;
    --rectangular-right: #506899;
    --rectangular-left: #7f1464;
    --light-text: #F0E1DC;
    --heavy-text: #d9c089;
    --heading-title-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow:auto;
}

.portfolioBox {
    height: 90vh;
    background: linear-gradient(180deg, var(--primary-color) 75%, var(--secondary-color));
    color: var(--light-text);
    padding: 3rem;
    padding-top: 0.5vh;
    text-align: center;

}

.titleProjects {
    font-size: 3rem;
    padding: 1rem;
    font-family: var(--heading-title-family);

}

.subtitleProjects {
    margin-bottom: 8vh;
    font-family: var(--heading-title-family);
}